@media (max-width: 1024px) {
    .traveling{
        align-items: center;
        max-width: 896px;
        margin: 0 auto;
        text-align: center;
    }
    .traveling_header_title h3{
        color: #F85E9F;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    .traveling_header_btn{
        display: flex;
    }
    .traveling_header_btn button{
        margin-top: 40px;
    }
    .traveling_header_btn button:first-child{
        background: none;
        border: 1px solid gray;
        border-radius: 100px;
    }
    .traveling_header_btn button:last-child{
        background-color: #5D50C6;
        border-radius: 100px;
        border: none;
        margin-right: 20px;
    }
    .traveling_header{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px;

    }
    .traveling_Slider{
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .carousel__items_descriptions{
        max-width: 310px;
    }
    .carousel__items_descriptions-description_title{
        display: flex;
        justify-content: space-between;
    }
    .carousel__items_descriptions-description_title h3:first-child{
        width: 200px;
    }
    .carousel__items_descriptions-description_title h3:last-child{
        color:#F85E9F;
    }
    .carousel__items_descriptions_location span{
        font-size: 18px;
        opacity: 50%;
    }
    .carousel__items_descriptions_location{
        display: flex;
        margin-top: 15px;
    }
    .carousel__items_descriptions_rating{
        display: flex;
        margin-top: 20px;
    }
    .carousel__items_descriptions_rating span{
        color:#FF5722;
        font-weight: 600;
        font-size: 30px;
    }
    .carousel__items_descriptions_rating img{
        margin-left: 10px;
    }
    .carousel__items_img img{
        max-width: 250px;
    }

}

@media (max-width: 430px) {
    .traveling{
        align-items: center;
        max-width: 397px;
        margin: 0 auto;

    }
    .traveling_Slider{
        display: none;
    }
    .slides{
        display: flex;
        margin-top: 20px;
        padding: 3px;
        border: 1px solid gray;
        border-radius: 20px;
    }
    .slides_slide_img img{
        max-width: 330px;
    }

}