.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1184px;
    margin: 0 auto;
}
.header_logo{
    display: flex;
    align-items: center;
    margin-top: 37px;
    margin-bottom: 37px;
}
.header_logo_title{
    color: black;
    text-decoration: none;
    margin-left: 5px;
}
.header_nav{
    display: flex;
    align-items: center;
}
.header_nav_navigation{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.header_nav_navigation li{
    margin:20px;
}
.header_nav_navigation li:first-child{
    margin-left: 0;
}
.header_nav_navigation li:last-child{
    margin-left: 0;
}
.header_nav_navigation a{
    text-decoration: none;
    color: #191825;
    opacity: 50%;
}
.header_nav_navigation a:active {
    opacity: 100%;
}
.header_nav_navigation a:focus {
    opacity: 100%;
}
.header_authorize{
    display: flex;
    align-items: center;
}
.header_authorize a{
    text-decoration: none;
    padding: 15px;
    color: black;
}
.header_authorize a:last-child{
    background-color: #5D50C6;
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-weight: 400;
}
.header_burger{
    display: none;
}