@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Sedan SC",serif;
}

.app{
    max-width: 1440px;
    margin: 0 auto;
}